[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = https://github.com/robcog-iai/UUtils
	branch = master
[submodule "UPhysicsBasedMC"]
	path = UPhysicsBasedMC
	url = https://github.com/robcog-iai/UPhysicsBasedMC.git
	branch = dev
[submodule "UPIDController"]
	path = UPIDController
	url = https://github.com/robcog-iai/UPIDController.git
	branch = master
[submodule "Plugins/UPIDController"]
	path = Plugins/UPIDController
	url = https://github.com/robcog-iai/UPIDController.git
	branch = master
[submodule "Plugins/UPhysicsBasedMC"]
	path = Plugins/UPhysicsBasedMC
	url = https://github.com/robcog-iai/UPhysicsBasedMC.git
	branch = dev
